<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" type="text/css" href="../../static/css/index.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/dashboard_teacher.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Dashboard</title>
</head>
<body>
    <header>
        <img src="../../static/assets/logo.svg" class="logo-in-header">
            
        <nav id="header-tools">
           <img src="../../static/icons/info-circle.svg" class="icon user-interactive">
           <img src="../../static/icons/about-icon.svg" class="icon user-interactive">
        </nav>
    </header>
    <aside id="sidebar" class="expanded">
        <div id="sidebar-container">
            <button id="sidebar-toggle" class="user-interactive"><img src="../../static/icons/back-arrow.svg"></button>
            <section id="sidebar-search">
                <input type="text" placeholder="Search" id="sidebar-search-input" />
                <button id="sidebar-search-btn" class="user-interactive">
                    <i class="fa fa-search"></i>
                </button>
            </section>
            <section id="sidebar-items-container">
                <ul id="sidebar-items">
                    <li class="sidebar-item selected">
                        <i class="fa fa-dashboard"></i><span class="item-name">Dashboard</span>
                    </li>
                    <li class="sidebar-item">
                        <i class="fa fa-bell"></i><span class="item-name">Notifications</span>
                    </li>
                    <li class="sidebar-item">
                        <i class="fa fa-check-square"></i><span class="item-name">Attendance</span>
                    </li>
                    <li class="sidebar-item">
                        <i class="fa fa-clock-o"></i><span class="item-name">Time Table</span>
                    </li>
                    <li class="sidebar-item">
                        <i class="fa fa-bullhorn"></i><span class="item-name">Announcements</span>
                    </li>
                    <li class="sidebar-item">
                        <i class="fa fa-money"></i><span class="item-name">Fee</span>
                    </li>
                </ul>
                <ul id="special-sidebar-items">
                    <li class="sidebar-item">
                        <i class="fa fa-cog"></i><span class="item-name">Settings</span>
                    </li>
                </ul>
            </section>
        </div>
    </aside>
    <main id="workspace" class="collapsed">
        <h1 id="workspace-title">Dashboard</h1>
        <div id="grid-wrapper">
            <div id="profile-tile" class="tile">
                <div id="profile-img-holder">
                    <img src="https://fujifilm-x.com/wp-content/uploads/2019/08/xc16-50mmf35-56-ois-2_sample-images03.jpg" />
                </div>gkgk
            </div>
            <div id="attendance-tile" class="tile"></div>
            <div id="notifications-tile" class="tile"></div>
            <div id="announcements-tile" class="tile"></div>
            <div id="fee-tile" class="tile"></div>
            <div id="time-table-tile" class="tile"></div>
        </div>
    </main>

    <script src="../../static/js/sidebar_navigator.js"></script>
</body>
</html>