<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}" />
    {%block head%}{%endblock head%}
    <title>{% block title %}{% endblock title %}</title>
</head>

<body>
    <header>
        <img src="{% static 'assets/logo.svg' %}" class="logo-in-header">
        <nav id="header-tools">
            <img src="{% static 'icons/info-circle.svg'%}" class="icon user-interactive">
            <img src="{% static 'icons/about-icon.svg'%}" class="icon user-interactive">
        </nav>
    </header>
    {% block body %}{% endblock body %}
</body>

</html>