{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/attendance_teacher.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/dashboard_teacher.css' %}" />
{% endblock head %}
{% block title %}Attendance{% endblock title %}
{% block body %}
<main id="workspace" class="collapsed">
    <table class="title-holder">
        <tr>
            <td>
            </td>
            <td>
                <h1 id="workspace-title">Attendance</h1>
            </td>
        </tr>
    </table>
    <!--<section class="notification red"><span>This is an example of a red message</span><button
            class="dismiss user-interactive"><img src="{% static 'icons/cross.svg'%}" height="24px" /></button>
    </section> -->
    {% if messages %}
    {%for message in messages%}
    <section class="notification blue">
        <span>{{message}}</span>
    </section>
    {% endfor %}
    {% endif %}
    <section class="btn-grp-type1">
        <table id="options-band">
            <!--see dashboard_teacher.css-->
            <tr>
                <td>
                    <button class="user-interactive">
                        <table class="btn-layout">
                            <tr>
                                <td class="img-holder">
                                    <img src="../../static/icons/view-trends-icon.svg" class="filter-blue" />
                                </td>
                            </tr>
                            <tr>
                                <td class="txt-holder">
                                    View Trends
                                </td>
                            </tr>
                        </table>
                    </button>
                </td>
                <td>
                    <button class="user-interactive">
                        <table class="btn-layout">
                            <tr>
                                <td class="img-holder">
                                    <img src="../../static/icons/request-other-attendance-icon.svg"
                                        class="filter-blue" />
                                </td>
                            </tr>
                            <tr>
                                <td class="txt-holder">
                                    Request Other Attendance
                                </td>
                            </tr>
                        </table>
                    </button>
                </td>
                <td>
                    <button class="user-interactive">
                        <table class="btn-layout">
                            <tr>
                                <td class="img-holder">
                                    <img src="../../static/icons/extra-class-icon.svg" class="filter-blue" />
                                </td>
                            </tr>
                            <tr>
                                <td class="txt-holder">
                                    Extra Class
                                </td>
                            </tr>
                        </table>
                    </button>
                </td>
                <td>
                    <button class="user-interactive">
                        <table class="btn-layout">
                            <tr>
                                <td class="img-holder">
                                    <img src="../../static/icons/merge-classes-icon.svg" class="filter-blue" />
                                </td>
                            </tr>
                            <tr>
                                <td class="txt-holder">
                                    Merge Classes
                                </td>
                            </tr>
                        </table>
                    </button>
                </td>
                <td>
                    <button class="user-interactive">
                        <table class="btn-layout">
                            <tr>
                                <td class="img-holder">
                                    <img src="../../static/icons/applications-icon.svg" class="filter-blue" />
                                </td>
                            </tr>
                            <tr>
                                <td class="txt-holder">
                                    Applications
                                </td>
                            </tr>
                        </table>
                    </button>
                </td>
                <td>
                    <button class="user-interactive">
                        <table class="btn-layout">
                            <tr>
                                <td class="img-holder">
                                    <img src="../../static/icons/submit-attendance-icon.svg" class="filter-blue" />
                                </td>
                            </tr>
                            <tr>
                                <td class="txt-holder">
                                    Submit Attendance
                                </td>
                            </tr>
                        </table>
                    </button>
                </td>
            </tr>
        </table>
    </section>
    <section id="classes">
        <h2 class="section-title">Classes</h2>
        <form class="ib">
            <!--'ib' stands for inline-block-->
            <!--<button class="theme" type="button">Today</button>-->
            <input name="date" type="date" id="date-picker" style="padding: 0.2rem;font-size: 16px;">
            <select name="type" class="theme">
                <option value="marked">Marked</option>
                <option value="unmarked">Unmarked</option>
                <option value="all" selected="true">All</option>
            </select>
            <button class="accent-theme user-interactive" type="submit">Search</button>
        </form>
        <table id="classes-viewer" width="100%" cellspacing="0">
            {%for key,values in data.items%}
            {% if values.status %}
            <tr class="class-row">
                <td class="class-details">
                    <span class="class-name">Class<span class="class-identifier">{{values.class}}
                            {{values.section}}</span></span>
                    <span class="no-of-students">Total Students:<span
                            class="student-count">{{values.total}}</span></span>
                </td>
                <td class="absent-details">
                    <span class="absent-text">Absent</span>
                    <span class="absent-count">{{values.absent}}</span>
                </td>
                <td class="present-details">
                    <span class="present-text">Present</span>
                    <span class="present-count">{{values.present}}</span>
                </td>
                <td class="attendance-trend">
                    <div class="progress-container">
                        <div class="progress-line"></div>
                    </div>
                    <span class="progress-percentage"><span class="percentage-count">92</span>%</span>
                </td>
                <td class="actions">
                    <button class="accent-theme user-interactive"
                        onclick="window.location='/attendance/view/{{values.class}}/{{values.section}}?date={{values.date}}'">View</button>
                    <button class="accent-theme user-interactive"
                        onclick="window.location='/attendance/edit/{{values.class}}/{{values.section}}?date={{values.date}}'">Edit</button>
                </td>
            </tr>
            {% else %}
            <tr class="class-row">
                <td class="class-details">
                    <span class="class-name">Class<span class="class-identifier">{{values.class}}
                            {{values.section}}</span></span>
                    <span class="no-of-students">Total Students:<span
                            class="student-count">{{values.total}}</span></span>
                </td>
                <td class="unmarked-msg" colspan="3">
                    Attendance for this day is not marked yet.
                </td>
                <td class="actions">
                    <button class="accent-theme user-interactive"
                        onclick="window.location='/attendance/mark/{{values.class}}/{{values.section}}?date={{values.date}}'">Mark
                        Attendance</button>
                </td>
            </tr>
            {% endif %}
            {% endfor %}
        </table>
    </section>
</main>
<script src="{% static 'js/attendance_progress_bar.js'%}"></script>
<script>
    document.getElementById("date-picker").max = new Date().toISOString().split("T")[0];
    params = new URLSearchParams(location.search);
    const date = params.get("date");
    if (date == null) {
        document.getElementById("date-picker").value = new Date().toISOString().split("T")[0];
    } else {
        document.getElementById("date-picker").value = date;
    }
</script>
{% endblock body %}