{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/attendance_teacher.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/dashboard_teacher.css' %}" />

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

{% endblock head %}
{% block title %}Edit Attendance{% endblock title %}
{% block body %}
<main id="workspace" class="collapsed">
    <table class="title-holder">
        <tr>
            <td>
                <button id="workspace-back" class="user-interactive" onclick="window.location='/attendance'">
                    <img src="{% static 'icons/back-arrow.svg' %}" height="40px" />
                </button>
            </td>
            <td>
                <h1 id="workspace-title">Class {{class}}</h1>
            </td>
        </tr>
    </table>
    <section id="edit-class">
        <form method="post">
            {% csrf_token %}
            <input type="date" name="date" value="{{date}}" hidden>
            <button class="accent-theme" type="button">Tasks</button>
            <button class="theme user-interactive" type="button">Download</button>
            <button class="theme user-interactive" type="button">Print</button>
            <button class="accent-theme user-interactive" id="submit-attn-btn">Submit</button>
            <table id="edit-class-attendance" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>S. No.</th>
                        <th>Name</th>
                        <th>Roll No.</th>
                        <th>Attendance</th>
                        <th>Remarks</th>
                    </tr>
                </thead>
                <tbody>
                    {%for key,values in data.items%}
                    <tr>
                        <td>{{key}}</td>
                        <td>{{values.name}}</td>
                        <td>{{key}}</td>
                        <td>
                            <input class="hidden_input" name="{{values.uid}}_status" value="{{values.status}}"
                                type="hidden">
                            {% if values.status == 'Present'%}
                            <button class="attendance-marker present-btn user-interactive checked" type="button"><img
                                    src="{% static 'icons/btn-tick.svg' %}" class="filter-green" /></button>
                            <button class="attendance-marker absent-btn user-interactive" type="button"><img
                                    src="{% static 'icons/btn-cross.svg' %}" class="filter-red" /></button>
                            {% elif values.status == 'Absent'%}
                            <button class="attendance-marker present-btn user-interactive" type="button"><img
                                    src="{% static 'icons/btn-tick.svg' %}" class="filter-green" /></button>
                            <button class="attendance-marker absent-btn user-interactive checked" type="button"><img
                                    src="{% static 'icons/btn-cross.svg' %}" class="filter-red" /></button>
                            {% else %}
                            <button class="attendance-marker present-btn user-interactive" type="button"><img
                                    src="{% static 'icons/btn-tick.svg' %}" class="filter-green" /></button>
                            <button class="attendance-marker absent-btn user-interactive" type="button"><img
                                    src="{% static 'icons/btn-cross.svg' %}" class="filter-red" /></button>
                            {% endif %}
                        </td>
                        <td>
                            <input class="remarks-input" name="{{values.uid}}_remarks" value="{{values.remarks}}"
                                type="text" placeholder="Enter your remarks here" />
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </form>
    </section>
</main>
<script src="{% static 'js/sidebar_navigator.js'%}"></script>
<script src="{% static 'js/attendance_marker.js' %}"></script>
{% endblock body %}