<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" type="text/css" href="index.css"/>
    <link rel="stylesheet" type="text/css" href="dashboard_teacher.css">
    <link rel="stylesheet" type="text/css" href="attendance_teacher.css"/>
    <title>Attendance</title>
</head>
<body>
    <header>
        <img src="logo.svg" class="logo-in-header">
            
        <nav id="header-tools">
           <img src="icons/info-circle.svg" class="icon user-interactive">
           <img src="icons/about-icon.svg" class="icon user-interactive">
        </nav>
    </header>
    <aside id="sidebar" class="expanded">

    </aside>
    <main id="workspace" class="collapsed">
        <table class="title-holder">
            <tr>
                <td>
                    <button id="workspace-back" class="user-interactive"><img src="icons/back-arrow.svg" height="40px"/></button>
                </td>
                <td>
                    <h1 id="workspace-title">Class 1B</h1>
                </td>
            </tr>
        </table>
        <section id="view-class">
                <button class="accent-theme">Tasks</button>
                <button class="theme user-interactive" type="button">Download</button>
                <button class="theme user-interactive" type="button">Print</button>
                <button class="accent-theme user-interactive" id="submit-attn-btn">Submit</button>
            <table id="view-class-attendance" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>S. No.</th>
                        <th>Name</th>
                        <th>Roll No.</th>
                        <th>Attendance</th>
                        <th>Remarks</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Aman Tripathi</td>
                        <td>1B01</td>
                        <td><span class="green">Present</span></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Bhavna Sharma</td>
                        <td>1B02</td>
                        <td><span class="green">Present</span></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Bhavnesh Jangid</td>
                        <td>1B03</td>
                        <td><span class="dark-grey">Unmarked</span></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Disha Singh</td>
                        <td>1B04</td>
                        <td><span class="green">Present</span></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>Dushyant Verma</td>
                        <td>1B05</td>
                        <td><span class="green">Present</span></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>Gagan Mudgal</td>
                        <td>1B06</td>
                        <td><span class="green">Present</span></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>Gaurang Joshi</td>
                        <td>1B07</td>
                        <td><span class="green">Present</span></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>8</td>
                        <td>Harshika Malhotra</td>
                        <td>1B08</td>
                        <td><span class="red">Absent</span></td>
                        <td><span class="dark-grey">High Fever</span></td>
                    </tr>
                    <tr>
                        <td>9</td>
                        <td>Ishika Jain</td>
                        <td>1B09</td>
                        <td><span class="green">Present</span></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>10</td>
                        <td>Jai Kumar Yadav</td>
                        <td>1B10</td>
                        <td><span class="green">Present</span></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>11</td>
                        <td>Jayesh Choudhary</td>
                        <td>1B11</td>
                        <td><span class="green">Present</span></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>12</td>
                        <td>Kaushik Jain</td>
                        <td>1B12</td>
                        <td><span class="green">Present</span></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>13</td>
                        <td>Keerti Verma</td>
                        <td>1B13</td>
                        <td><span class="green">Present</span></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>14</td>
                        <td>Khushal Gupta</td>
                        <td>1B14</td>
                        <td><span class="green">Present</span></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>15</td>
                        <td>Kiran Jangid</td>
                        <td>1B15</td>
                        <td><span class="green">Present</span></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </section>
    </main>
</body>
</html>