{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/attendance_teacher.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/dashboard_teacher.css' %}" />
{% endblock head %}
{% block title %}View Attendance{% endblock title %}
{% block body %}
<main id="workspace" class="collapsed">
    <table class="title-holder">
        <tr>
            <td>
                <button id="workspace-back" class="user-interactive" onclick="window.location='/attendance'">
                    <img src="{% static 'icons/back-arrow.svg' %}" height="40px" />
                </button>
            </td>
            <td>
                <h1 id="workspace-title">Class 1B</h1>
            </td>
        </tr>
    </table>
    <section id="view-class">
        <button class="accent-theme">Tasks</button>
        <button class="theme user-interactive" type="button">Download</button>
        <button class="theme user-interactive" type="button">Print</button>
        <button class="accent-theme user-interactive" id="submit-attn-btn">Submit</button>
        <table id="view-class-attendance" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>S. No.</th>
                    <th>Name</th>
                    <th>Roll No.</th>
                    <th>Attendance</th>
                    <th>Remarks</th>
                </tr>
            </thead>
            <tbody>
                {%for key,values in data.items%}
                <tr>
                    <td>{{key}}</td>
                    <td>{{values.name}}</td>
                    <td>{{key}}</td>
                    {% if values.status == 'Present'%}
                    <td><span class="green">{{values.status}}</span></td>
                    {% elif values.status == 'Absent'%}
                    <td><span class="red">{{values.status}}</span></td>
                    {% else %}
                    <td><span class="dark-grey">{{values.status}}</span></td>
                    {% endif %}
                    <td>{{values.remarks}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
</main>
{% endblock body %}